{
  "presets": ["react-native"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "~assets": "./src/Assets",
        "~api": "./src/Api",
        "~store": "./src/Store",
        "~components": "./src/Components",
        "~config": "./src/Config",
        "~navigation": "./src/Navigation",
        "~pages": "./src/Pages"
      }
    }]
  ]
}